version: "3.9"

services:

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: clinic
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - mongo
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/clinic
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017
      SPRING_JPA_HIBERNATE_DDL-AUTO: update

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql-data:
  mongo-data: